body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}
.card
{
    color: rgb(255, 255, 255);
    background-color: transparent;
}
.data
{
    justify-content:center;
}
.isian
{
    padding-left: 0;
}