body {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 15px 0;
    background-color: rgb(0, 0, 0); /* Latar belakang hitam */
    transition: background-color 0.3s ease; /* Efek transisi */
}


.logo-box {
    display: flex;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
}

/* Kotak putih di belakang tulisan "Kelas Memasak" */
.title-box {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 1px 5px;
    margin-left: 6px;
    border-radius: 5px;
}

/* Mengatur navbar */
.nav_button ul {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.nav_button ul li {
    list-style: none;
}

.nav_button ul li a {
    text-decoration: none;
    color: rgb(107, 103, 103); /* Semua teks putih */
    font-size: 19px;
    transition: 0.3s;
}

.nav_button ul li a:hover {
    color: #f1ecec; /* Warna emas saat hover */
}

.custom-card {
    background-color: #2a2a2a;
    color: white;
    border: none;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
}
/* Tata letak aturan dalam dua kolom */
.dua-container {
    display: flex;
    margin-top: 30px;
}

/* Bagian kiri & kanan masing-masing 48% */
.kiri, .kanan {
    margin-top: 30px;
    width: 45%;
    margin-left: 17px;
    margin-right: 17px;
    padding: 0;
}